@media only screen and (orientation: portrait) {
  

  * {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 250;
  box-sizing: border-box !important;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
 body {
  overflow-y: auto;
}
  .container {
      width: 96vw !important;
      height: 98vh !important;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 1vh rgba(0,0,0,0.3);
      position: absolute;
      margin-top: -2vh !important;
      left: 50vw;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu {
      position: absolute;
      top: 1vh !important; 
      left: 50vw;
      transform: translateX(-50%);
      background: linear-gradient(to bottom, #333333, #CCCCCC);
      display: none;
      justify-content: center;
      text-align: center;
      gap: 6vw;
      padding: 1vw;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
      z-index: 1;
    }
    .menu-item {
      position: relative;
     transition: transform 0.3s ease-in-out; 
  }
  .menu-item > a {
  font-size: 3vw;
}

.dropdown-item > a {
  font-size: 2.8vw;
}
    .footer {
   font-size: 1.5em !important;
    width: 80vw; 
    height: auto; 
    transform: scale(1.1); 
    padding:  .5vw;
   transform: translateX(-50%);
   text-align: center;
}

    .bio-section {
      position: relative;
      top: 10vh;
    }

    .bio-photo {
      position: relative;
      top: 8vh;
      margin: 0 auto;
      width: 30vw !important;
      height: 30vw !important;
      object-fit: cover;
      border-radius: 50%;
       transform: scale(1.5); 
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
       animation: shining-light 1.5s infinite;
       }
       @keyframes shining-light {
         0% {
           box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
         }
         50% {
           box-shadow: 0 0 30px rgba(255, 255, 255, 1);
         }
         100% {
           box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
         }
       }

      .profession {
          position: relative;
          top: 14vh;
          left: 14vw;
          margin: 2vh 0;
          width: 55vw;
          text-align: center;
         font-weight: bold; 
         font-size: 3.5vw !important;
        }

        .bio-paragraph {
          position: relative;
          top: 18vh;
          font-size: 3vw !important;
          margin: 2vh 0;
          width: 85vw;
          text-align: center;
          
        }

      

  /********************* PORTFOLIO *********************/
  .Portfolio-Section {
    position: absolute;
    top: 16.5vh !important;
  }

  .Portfolio-Section h2 {
    position: absolute;
    top: -3vh; /* adjust this value to move it up or down */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw !important;
  }

  .Portfolio-Section p {
   font-size: 1.9vw !important;
    width: 80vw; 
    height: auto; 
    transform: scale(1.1); 
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.1); 
    padding:  .5vw;
    
  }


/**********Explore my Career Highlights***********/
.grid-wrapper1 {
  position: absolute;
  width: 45vw;
  height: auto; 
  top: 28vh; 
  left: 46vw;
  padding: 1vmin;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}

.folder-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1vmin;
  
}

.photo-item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 0.50vw;
  position: relative;
  text-align: center;
}
.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.photo-item img {
  transition: transform 0.2s;
}

.photo-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/**********Explore my Career Highlights***********/
 
.my-image{
position: absolute;
top: -4vh;
left: 0vw !important;
}

.my-face {
  position: absolute;
  top: 37.5vh; 
  left: 4vw !important;
  width: 25vw;
  height: auto;
  mix-blend-mode: multiply;
}

.my-icon {
  position: absolute;
  top: 47vh !important; 
  left: 20vw !important;
  width: 21vw; 
  height: auto; 
  mix-blend-mode: multiply;
}
.grid-container {
  transform: translate(-50%, -50%) scale(1.3); 
}

/**skills-section*/

/********************* PORTFOLIO *********************/ 

 /********************* SOC MED ICON *********************/
 .social-media-icons {
  position: absolute;
  bottom: 2vh;
  right: 6vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.social-media-icons a {
  margin-bottom: 3vh;
  color: #3d0555;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: #ffffff;
}

.social-media-icons i {
  font-family: "Font Awesome 6 Brands" !important;
  font-size: 2vw;
}
/********************* SOC MED ICON *********************/   



/********************* POLITICAL *********************/  
.political-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 100%;
}

.video-title {
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 2px;
  text-align: center;
  color: rgb(224, 203, 252);
}

/********************* POLITICAL *********************/  


 
/* Ask jarviz */
.jarviz-container {
  position: absolute;
  top: 8vh !important;
  left: 79.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jarviz-container img {
  position: relative;
  width: 13vw !important;
  height: auto !important;
}
h3 {
  font-size: 3vw;
}
/* Ask jarviz */

/****************** Skills Section ******************/

.skills-section-container {
  width: 100vw;
  height: auto;
  color: #ffffff;
  margin-left: 20vw;
  margin-top: 60vh;
  transform: translateX(-10vw);
}

.skills-section {
  width: 90vw; 
}
.skills-section h5 {
  font-size: 1.5vh;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
  margin-bottom: .5vh;
}

.skills-section ul {
  list-style: disc outside;
  padding: 0 2vw 0 5vw; 
  margin: 0;
  border-radius: 1vw;
  width: fit-content; 
}
.skills-section li {
 font-size: 1.9vw !important;
  margin-bottom: 1%;
  text-align: left;
}
.skills-section strong {
  font-weight: 530;
}
/****************** Skills Section ******************/

 .menu.active {
        display: block;
        position: absolute;
        top: 7px !important;
        left: 40px;
        width: auto;
        background-color: #333;
        padding: 5px;
        background: linear-gradient(to left, #333333, #a19e9e);
        z-index: 1000;
    }

    .menu-item > a {
  font-size: 3vw;
}
    .menu-item {
    margin-bottom: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 1vh;
    left: 11vh;
    transform: translateX(-50%) scale(1);
    padding: 1px;
    transition: transform 0.2s ease-in-out;
}

.dropdown-item > a {
  font-size: 2.8vw;
}

  .hamburger {
  position: absolute;
  top: -.3vh;
  left: .3vh;
   z-index: 1000;
}

.hamburger img {
  position: relative;
  width: 13vw; /* match Jarviz section's width */
  height: auto; /* maintain aspect ratio */
  margin: 10px;
}
  
    .menu{
      display: none;
    }


    /****************** HOME ICON ******************/
  .home-icon-container {
  display: flex !important;
  

  position: absolute;
  top: 1.5vh;
  left: 3.5vw; /* or a specific value like 10px */
  width: auto; /* adjust width to fit content */
}
  
  .home-icon:hover {
    transform: scale(1.2);
  }

.home-icon {
  position: relative;
  width: 7vw;
  height: auto;
  transition: transform 0.2s;
}


/* Message */

  #message {
    width: 60vw !important;
    left: 6vw !important;
    font-size: 3vw !important;
    bottom: 3vh !important;
  }
  #message .card {
    padding: 2vw !important;
    border-radius: 2vw !important;
    overflow: hidden !important;
  }
  #message .card #close-btn {
    font-size: 6vw !important;
    top: -1vw !important;
    right: 1vw !important;
  }
  #message .card h2 {
    font-size: 4vw !important;
  }
  #message .card label {
    font-size: 3.5vw !important;
  }
  #message .card input, #message .card textarea {
    font-size: 3.5vw !important;
    border-radius: 0.5vw !important;
  }
  #message .card button {
    font-size: 3.5vw !important;
    padding: 1vw 2vw !important;
    border-radius: 0.5vw !important;
  }
  #message .card #success-message {
    font-size: 3.5vw !important;
  }
  #message .card textarea {
    margin-top: 0.5vw !important;
  }
  #message .card input {
    height: 5vw !important;
  }

  /* Message Image */
  #image-trigger img {
    width: 15vw !important;
    height: 15vw !important;
    max-width: 100px !important;
    max-height: 100px !important;
  }
  #image-trigger span {
    font-size: 2.5vw !important;
  }
  #image-trigger {
  left: -3vw !important;
}
  /* Message Image */
  .nba img {
      width: 20vw !important;
      height: auto;
      margin-bottom: -3vh !important;
    }

    .nba h5 {
    margin-top: 4vh !important;
  }
  
}






@media only screen and (orientation: landscape) {

.home-icon-container {
  display: none;
}

.hamburger{
 
  display: none;

}

}