@media only screen and (orientation: portrait) {
  

  * {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh; /* or height: auto; */
  background-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.1) !important;
}
 
  
    .menu {
      position: absolute;
      top: -4vh !important; 
      left: 43vw;
      transform: translateX(-50%);
      background: linear-gradient(to bottom, #333333, #CCCCCC);
      display: none;
      justify-content: center;
      text-align: center;
      gap: 6vw;
      padding: 1vw;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
      z-index: 1;
    }
    .menu-item {
      position: relative;
     transition: transform 0.3s ease-in-out; 
  }
  .menu-item > a {
  font-size: 3vw;
}




.footer p {
  font-size: 2vw !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  color:rgb(204, 199, 199);

} 
    .bio-section {
      position: relative;
      top: 10vh;
    }

    .bio-photo {
      position: relative;
      top: 8vh;
      margin: 0 auto;
      width: 30vw !important;
      height: 30vw !important;
      object-fit: cover;
      border-radius: 50%;
       transform: scale(1.5); 
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
       animation: shining-light 1.5s infinite;
       }
       @keyframes shining-light {
         0% {
           box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
         }
         50% {
           box-shadow: 0 0 30px rgba(255, 255, 255, 1);
         }
         100% {
           box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
         }
       }

      .profession {
          position: relative;
          top: 14vh;
          left: 14vw;
          margin: 2vh 0;
          width: 55vw;
          text-align: center;
         font-weight: bold; 
         font-size: 3.5vw !important;
        }

        .bio-paragraph {
          position: relative;
          top: 18vh;
          font-size: 3vw !important;
          margin: 2vh 0;
          width: 85vw;
          text-align: center;
          
        }

      

  /********************* PORTFOLIO *********************/
  .Portfolio-Section {
    position: absolute;
    top: 16.3vh !important;
  }

  .Portfolio-Section h2 {
    position: absolute;
    top: -5vh; /* adjust this value to move it up or down */
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vw !important;
  }

  .Portfolio-Section p {
   font-size: 2vw !important;
    width: 85vw; 
    height: auto; 
    transform: scale(1.1); 
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.1); 
    padding:  .5vw;
    
  }


/**********Explore my Career Highlights***********/
.grid-wrapper1 {
  position: absolute;
  width: 45vw;
  height: auto; 
  top: 26vh; 
  left: 46vw;
  padding: 1vmin;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}

.folder-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1vmin;
  
}

.photo-item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 0.50vw;
  position: relative;
  text-align: center;
}
.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.photo-item img {
  transition: transform 0.2s;
}

.photo-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/**********Explore my Career Highlights***********/
 
.my-image{
position: absolute;
top: -4vh;
left: 0vw !important;
}

.my-face {
  position: absolute;
  top: 37vh; 
  left: 4vw !important;
  width: 23vw;
  height: auto;
  mix-blend-mode: multiply;
}

.my-icon {
  position: absolute;
  top: 47vh !important; 
  left: 20vw !important;
  width: 20vw; 
  height: auto; 
  mix-blend-mode: multiply;
}
.grid-container {
  transform: translate(-50%, -50%) scale(1.3); 
}

/**skills-section*/

/********************* PORTFOLIO *********************/ 

/********************* POLITICAL *********************/  
.political-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 100%;
}

.video-title {
  font-size: 2.5vw;
  font-weight: 400;
  margin-bottom: 2px;
  text-align: center;
  color: rgb(224, 203, 252);
}

/********************* POLITICAL *********************/  


 
/* Ask jarviz */

.jarviz-parent-container {
  position: absolute;
  top: -.5vh !important;
  left: 81vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#parent-image {
  width: 20vw;
  cursor: pointer;
}

.jarviz-parent-container > h4 {
  font-size: 2.5vw;
  color: #ffffff;
  margin-top: -5vw;
  text-align: center;
  font-weight: 100;
}

#jarviz-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

.jarviz-parent-container img {
  margin: 10px auto;
  mix-blend-mode: multiply;
}

.jarviz-parent-container a {
  text-decoration: none;
  text-align: center;
}

.jarviz-parent-container a[href*="meta"] img,
.jarviz-parent-container a[href*="dotafire"] img {
  width: 10vw;
  mix-blend-mode: normal;
}

.nba-link img {
  width: 13vw;
}

.jarviz-parent-container a[href*="meta"] h3,
.jarviz-parent-container a[href*="dotafire"] h4,
.nba-link h4 {
  font-size: 1vw;
  margin-top: -2vw;
  font-weight: bold;
}

.jarviz-parent-container a[href*="meta"] h3 {
  color: #979292;
  font-weight: bold;
}

.jarviz-parent-container a[href*="dotafire"] h4 {
  color: #cf1414;
  font-weight: bold;
}

.nba-link h4 {
  color: #1427cf;
  font-weight: bold;
}
/* Ask jarviz */

/****************** Skills Section ******************/

.skills-section-container {
  width: 100vw;
  height: auto;
  color: #ffffff;
  margin-left: 20vw;
  margin-top: 57vh;
  transform: translateX(-10vw);
}

.skills-section {
  width: 90vw; 
}
.skills-section h5 {
  position: relative;
  font-size: 2vw;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: left;
  left: 5vw !important;
  margin-bottom: .5vh;
}

.skills-section ul {
  list-style: disc outside;
  padding: 0 2vw 0 5vw; 
  margin: 0;
  border-radius: 1vw;
  width: fit-content; 
}
.skills-section li {
 font-size: 2vw !important;
  margin-bottom: 1vh;
  text-align: left;
}
.skills-section strong {
  font-weight: 530;
}
/****************** Skills Section ******************/

 .menu.active {
  display: block;
  position: absolute;
  top: .8vh !important;
  left: 13.5vw;
  width: auto;
  padding: 5vw;
  background: linear-gradient(to left, #333333, #a19e9e);
  z-index: 3;
}

.menu-item > a {
  font-size: 3vw;
}

.menu-item {
  margin-bottom: 3vh;
}

.dropdown {
    display: none;
    position: absolute;
    top: 1vh;
    left: 23vw;
    transform: translateX(-50%) scale(1);
    padding: 3vw;
    background: linear-gradient(to left, #333333, #a19e9e);
    transition: transform 0.2s ease-in-out;
}

.dropdown-item > a {
  font-size: 2.8vw;
  margin-bottom: -1vh;
}

  .hamburger {
  position: absolute;
  top: -1vh;
  left: -2vw;
   z-index: 1;
}

.hamburger img {
  position: relative;
  width: 20vw; /* match Jarviz section's width */
  height: auto; /* maintain aspect ratio */
  margin: 10px;
}

.hamburger h5 {
  font-size: 2.5vw; /* adjust the font size */
  position: relative;
  top: -3.5vh; /* adjust the position */
  text-align: center;
  color: white;
}
  
    .menu{
      display: none;
    }


    /****************** HOME ICON ******************/
  .home-icon-container {
  display: flex !important;
  position: absolute;
  top: 2.5vh;
  left: 3.5vw; /* or a specific value like 10px */
  width: auto; /* adjust width to fit content */
}
  
  .home-icon:hover {
    transform: scale(1.2);
  }

.home-icon {
  position: relative;
  width: 7vw;
  height: auto;
  transition: transform 0.2s;
}

/****************** MESSAGE TRIGGER ******************/
#image-trigger {
  cursor: pointer;
  position: absolute;
  bottom: 5vh;
  left: 6vw;
  z-index: 1;
  text-align: center;
}

#image-trigger img {
  width: 13vw;
  height: 13vw;
  transition: transform 0.2s;
  display: block;
  margin: 0 auto;
}

#image-trigger:hover img {
  transform: scale(1.2);
}

#image-trigger span {
  font-size: 2.5vw;
  color: #fff;
}
/****************** MESSAGE TRIGGER ******************/

  /* Message Input field */
  #message {
    width: 60vw !important;
    left: 5vw !important;
    font-size: 3vw !important;
    bottom: 4vh !important;
  }
  #message .card {
    padding: 2vw !important;
    border-radius: 2vw !important;
    overflow: hidden !important;
  }
  #message .card #close-btn {
    font-size: 6vw !important;
    top: -1vw !important;
    right: 1vw !important;
  }
  #message .card h2 {
    font-size: 4vw !important;
  }
  #message .card label {
    font-size: 3.5vw !important;
  }
  #message .card input, #message .card textarea {
    font-size: 3.5vw !important;
    border-radius: 0.5vw !important;
  }
  #message .card button {
    font-size: 3.5vw !important;
    padding: 1vw 2vw !important;
    border-radius: 0.5vw !important;
  }
  #message .card #success-message {
    font-size: 3.5vw !important;
  }
  #message .card textarea {
    margin-top: 0.5vw !important;
  }
  #message .card input {
    height: 5vw !important;
  }
  /* Message Input field */
 


  /* Message Image */
  .nba img {
      width: 20vw !important;
      height: auto;
      margin-bottom: -3vh !important;
    }

    .nba h5 {
    margin-top: 4vh !important;
  }

/* INSPECTOR SECTION */ 
#inspector-image {
  position: absolute;
  cursor: pointer;
  mix-blend-mode: multiply;
  width: 13vw;
  height: auto;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.inspector h5 {
  position: absolute;
  font-size: 2.5vw; /* or any fixed size you prefer, vw can be inconsistent */
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#inspector-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  border-radius: 10px;
  z-index: 1;
  max-width: 80vw;
  max-height: 80vh;
}

#inspector-message-text {
  width: 80vw; 
  height: auto; 
  word-wrap: break-word; 
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5vw;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px; /* adjust value to your liking */
}

#close-button {
  position: absolute;
  top: -1.3vh;
  right: 1vw;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 7vw;
  cursor: pointer;
}
/* INSPECTOR SECTION */ 



 /********************* SOC MED ICON *********************/
 /* CSS */
.social-media-icons {
  position: absolute;
  bottom: 5vh;
  right: 3.3vw;
  gap: 0;
  z-index: 1;
  display: flex;
  flex-direction: column; /* Add this */
}
.social-media-icons a {
  color: #3d0555;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
  margin-bottom: 6vw; /* Adjust value */
}

.social-media-icons a:hover {
  color: #ffffff;
}

.social-media-icons i {
  font-size: 2vw;
  font-family: "Font Awesome 6 Brands" !important;
  line-height: 1;
  margin: 0;
  padding: 0;
}


#social-dialog-box {
  width: 50%; /* reduces width */
  height: auto; /* adjusts height to content */
  position: absolute; /* or fixed */
  top: 50%; /* vertical center */
  left: 50%; /* horizontal center */
  transform: translate(-50%, -50%); /* center alignment */  
}

#social-dialog-box .dialog-content {
  border-radius: 6px; /* adjust the value as needed */
}

.dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent; 
}
#dialog-message {
  font-size: 3vw; 
}

#social-dialog-box .dialog-content {
  padding: 2vw; 
}

#dialog-close {
   padding: 3px 5px;
  font-size: 3vw; 
}
/********************* SOC MED ICON *********************/

/* GALLERY FORM SECTION */
#password-dialog-box {
  display: none;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, #808080, #666666);
  padding: 0.5%;
  border-radius: 1%;
  box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: #fff;
  width: 15vw;
  max-width: 200px;
  min-width: 150px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-header h2 {
  margin: 0;
  font-size: clamp(0.8rem, 1vw, 0.8rem);
}

#close-password-dialog {
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  position: relative;
  top: -8px;
  left: 1px;
}

#password-form-element {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  border-radius: 1%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 2%;
}

.form-group label {
  font-size: 0.7em;
  text-align: left;
}

.form-group input {
  padding: 1%;
  font-size: 0.7em;
  width: 100%;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.form-actions button {
  background-color: #3c3a3f;
  color: #fff;
  border: none;
  padding: 1% 2%;
  border-radius: 1%;
  cursor: pointer;
  font-size: 0.6em;
}
/* GALLERY FORM SECTION */


/* BLOG PERSONAL FORM SECTION */
#alert-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#alert-box {
  background-color: #7a7171;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  max-width: 60%;
}

#alert-ok {
  background-color: #b1aaad;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

#alert-ok:hover {
  background-color: #494646;
}

/* BLOG PERSONAL FORM SECTION */




}

@media only screen and (orientation: landscape) {

.home-icon-container {
  display: none;
}
.hamburger{
  display: none;
}
.container {
  width: 60vw;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 52vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
}




