
@media only screen and (min-width: 320px) and (max-height: 766px){
  
  .container {
      width: 92vw;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0.1);
      border: 0.1vw solid #ddd;
      box-shadow: 0 0 1vh rgba(0,0,0,0.5);
      position: absolute;
      top: 53vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5vw !important;
    }
    .menu {
      position: absolute;
      top: 2vh; /* Increase the top value to move the menu down */
      left: 50vw;
      transform: translateX(-50%);
      background: linear-gradient(to bottom, #333333, #CCCCCC);
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 6vw;
      padding: 1vw;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
      z-index: 1;
    }
    .menu-item {
      position: relative;
     transition: transform 0.3s ease-in-out; 
  }
  .menu-item > a {
  font-size: 4.5vw;
}

.dropdown-item > a {
  font-size: 4vw;
}

    .intro {
      width: 90vw;
      font-size: 3vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #33cc33;
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      animation: shining-borders 5s infinite;
     
      
      animation: shining-borders 3s infinite;
      }
      @keyframes shining-borders {
      0% {
      border-color: #33cc33;
      box-shadow: 0 0 5px rgba(152, 255, 152, 0.5);
      }
      50% {
      border-color: #ccffcc;
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      100% {
      border-color: #33cc33;
      box-shadow: 0 0 5px rgba(152, 255, 152, 0.5);
      }
      }

    .icon img {
      width: 3vw;
      height: 3vw;
      mix-blend-mode: multiply;
    }

    .icons {
      position: absolute;
      top: 73vh;
      right: 10vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

    .bio-section {
      position: relative;
      top: 10vh;
    }

    .bio-photo {
      position: relative;
      top: 8vh;
      margin: 0 auto;
      width: 30vw !important;
      height: 30vw !important;
      object-fit: cover;
      border-radius: 50%;
       transform: scale(1.5); /* Increase size by 50% */
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      animation: shining-effect 2s infinite;
      }
      @keyframes shining-effect {
      0% {
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      50% {
      box-shadow: 0 0 30px rgba(152, 255, 152, 1);
      }
      100% {
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      }

      .profession {
          position: relative;
          top: 14vh;
          left: 14vw;
          margin: 2vh 0;
          width: 55vw;
          text-align: center;
         font-weight: bold; 
         font-size: 3.5vw !important;
        }

        .bio-paragraph {
          position: relative;
          top: 18vh;
          font-size: 3vw !important;
          margin: 2vh 0;
          width: 85vw;
          text-align: center;
          
        }

      

  /********************* PORTFOLIO *********************/
        

.Portfolio-Section {
  position: absolute;
  top: 22vh !important;
}
  

  
  .Portfolio-Section h2{
          position: absolute;
          top: -3vh !important;
          left: 39.5vw;
          transform: translateX(-50%);
        }
  
 .Portfolio-Section p {
    font-size: 1px !important;
    width: 80vw; /* Adjust width to 80% of viewport width */
    height: auto; /* Change height to auto */
    transform: scale(1.1); 
    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.1); 
    padding: 1vh;   
  }

/**folder icon*/

.folder-container h5 {
  position: absolute;
  font-size: 1.5vh;
  left: -2vw;
  white-space: nowrap;
}
.folder-container {
  display: flex;
  flex-direction: column;
  margin-left: -30px;
  margin-top: -80px; /* adjust this value to move it up */
}

.folder-row {
  display: flex;
  justify-content: space-around; /* Distribute folders evenly */
  margin-bottom: -8px; /* Add margin between rows */
}

.folder-row a {
  text-align: center; /* Center the folder label */
}

.folder-icon {
  width: 23vw; /* Increase the width of the folder icon */
  height: auto; /* Increase the height of the folder icon */
}
 .folder-label {
  position: relative;
  top: -15.5vw;
  left: -3.7vw; /* increase the negative value to move it to the left */
  font-size: .7vw;
  font-weight: 400;
}
  a[href="bdo.html"] .folder-label {
  position: relative;
  left: -2vw; /* increase the negative value to move it to the left */  
}

/**folder icon*/

/**skills-section*/
.skills-section-container {
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
   max-width: 97%;
  box-shadow: rgba(0, 0, 0, 0.1);
  color: #ffff;
}
  li {
  margin-bottom: 5px; /* adjust the value as needed */
}
  .skills-section h5 {
  position: absolute;
  font-size: 1.5vh;
  left: 12vw;
  transform: translateX(-50%);
  top: -1.5vh;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
  .skills-section strong {
    font-weight: 470;
  }

@media (max-width: 768px) {
  .skills-section-container {
    bottom: 0rem; /* Adjust for smaller screens */
    left: 3vh; /* Adjust for smaller screens */
    
  }

}
.my-face {
  position: absolute;
  top: 37.5vh; /* distance from top */
  left: 6vw; /* distance from left */
  width: 25vw; /* image width */
  height: auto; /* image height */
  mix-blend-mode: multiply;
}

.my-icon {
  position: absolute;
  top: 42vh; /* distance from top */
  left: 22.2vw; /* distance from left */
  width: 21vw; /* image width */
  height: auto; /* image height */
  mix-blend-mode: multiply;
}
.grid-container {
  transform: translate(-50%, -50%) scale(1.3); /* increase size by 20% */
}

/**skills-section*/

/********************* PORTFOLIO *********************/ 
 /********************* SOC MED ICON *********************/ 
 .social-media-icons {
  /* relocate the icons */
  position: absolute;
  bottom: 20px;
  left: 91vw;
  transform: translateX(-50%);
  display: flex;
}

.social-media-icons a {
  margin: 0 1px; /* adjust the margin value to reduce the gap */
}

.social-media-icons i {
  /* reduce the icon size */
  font-size: 11px;
}

/********************* SOC MED ICON *********************/   

}

