
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 250;
  box-sizing: border-box !important;
}


body {
  background-image: linear-gradient(to right, #808080, #666666);
    background-size: 100% 100vh; /* Cover the entire width and height */
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
    height: 100vh; /* Set the height to the full viewport height */
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1vw; /* Increased font size */
    
}



.menu {
    position: absolute;
    top: 1vh;
    left: 50vw;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, #333333, #CCCCCC);
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 8vw;
    padding: 1vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
    z-index: 1;
  }

.menu-item {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover .dropdown {
    display: block;
}

.menu-item a {
    text-decoration: none;
    color: #ffffff
    
}

.dropdown {
    display: none;
    position: absolute;
    top: 2.5vh;
    left: 50%;
    transform: translateX(-50%) scale(1);
    padding: 1px;
    transition: transform 0.2s ease-in-out;
}

.dropdown-item {
    margin-bottom: 1vh;
}
.dropdown-item > a {
  font-size: 0.9vw;
}

.menu-item:hover {
    transform: scale(1.2); /* Zoom effect */
    transition: transform 0.3s ease-in-out;
    
}


.dropdown a {
    display: inline-block; /* Add this line */
    transition: transform 0.2s ease-in-out;
    
}

.dropdown a:hover {
    transform: scale(1.1);
    color: #a3a7a7;
}


/*****************************************************************/

.container {
    width: 60vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1vh rgba(0,0,0,0.1);
    position: absolute;
    top: 54.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw !important;
  }
  
  .header {
    background-color: #ffcccc;
    color: #333;
    padding: 2vh;
    text-align: center;
  }

  .intro {
    font-size: 1.5vw;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #33cc33;
    box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
    animation: shining-borders 5s infinite;
    margin: 0; /* Reset margin */
    padding: 0.5em; /* Use em for padding */
    height: fit-content; /* Set height to fit content */
    animation: shining-borders 5s infinite;
    }
    @keyframes shining-borders {
    0% {
    border-color: #33cc33;
    box-shadow: 0 0 5px rgba(152, 255, 152, 0.5);
    }
    50% {
    border-color: #ccffcc;
    box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
    }
    100% {
    border-color: #33cc33;
    box-shadow: 0 0 5px rgba(152, 255, 152, 0.5);
    }
    }
  
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #aca4a4;
    padding: 1vh;
    width: 50vw;
    font-size: 0.8vw !important;
  }
  

  .bio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #c6cec6;
}

.bio-photo {
  position: relative;
  top: 10vh;
  margin: 0 auto;
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
  animation: shining-effect 2s infinite;
  }
  @keyframes shining-effect {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 50px rgba(255, 255, 255, 1);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }

.profession {
  position: relative;
  top: 10vh;
  margin: 2vh 0;
  width: 55vw;
  text-align: center;
 font-weight: bold; 
}

.bio-paragraph {
  position: relative;
  top: 15vh;
  margin: 2vh 0;
  width: 55vw;
  text-align: center;
  color: #ffffff; /* Add this line */
  text-shadow: 0px 0px 10px rgb(24, 26, 24) !important;
}

.icons {
  position: absolute;
  top: 73vh;
  right: 20.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
}

.icon {
  margin: 0.5vh 0;
  padding: 0.2vw;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  mix-blend-mode: multiply;
  box-shadow: 0 0 1vh rgba(0,0,0,0.3);
}

.icon img {
  width: 1.3vw;
  height: 1.3vw;
  
}

.icon:hover {
  transform: scale(1.3); 
 
}

/********************* RESUME *********************/
#resume-section {
  text-align: center;
  z-index: 1000;
  position: relative;
}

#resume-section img {
  width: 30vw;
  height: auto;
  max-width: 800px; 
  margin: 0 auto;
  cursor: pointer;
}

#text {
  display: none;
}

#resume-section.show-text #text {
  display: block;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 5px #ACFFAC, 0 0 10px #ACFFAC, 0 0 15px #ACFFAC;
  }
  50% {
    text-shadow: 0 0 10px #ACFFAC, 0 0 20px #ACFFAC, 0 0 30px #ACFFAC;
  }
  100% {
    text-shadow: 0 0 5px #ACFFAC, 0 0 10px #ACFFAC, 0 0 15px #ACFFAC;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/********************* RESUME *********************/


/********************* PORTFOLIO *********************/

.Portfolio-Section {
  position: absolute;
  top: 28vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.Portfolio-Section h2 {
  position: absolute;
  top: -6vh;
  left: 20vw;
  font-size: 1.3vw;
}



.Portfolio-Section p {
  font-size: 1vw;
  transform: scale(1.1); 
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
  padding: 1vh; 
}

/**folder icon*/

.folder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100vh;
  left: 106vw;
  transform: translate(-50vw, -50vh);
}

.folder-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: -3vh; 
}

.folder-container h5 {
  position: absolute;
  font-size: 1.5vh;
  margin-left: 5.5vw;
  top: -2vh;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  
}

.folder-icon {
  width: 11vw;
  height: auto;
  
  margin-right: .5vw;
  
}

.folder-label {
  position: relative;
  top: -8.6vw;
  left: 2vw;
  font-size: .8vw;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

.folder-icon {
  transition: transform 0.2s ease-in-out;
}

.folder-icon:hover {
  transform: scale(1.1);
}
/**folder icon*/




.my-face {
  position: absolute;
  top: 40.3vh; /* distance from top */
  left: 22vw; /* distance from left */
  width: 4.3vw; /* image width */
  height: auto; /* image height */
  mix-blend-mode: multiply;
}

.my-icon {
  position: absolute;
  top: 41.4vh; /* distance from top */
  left: 73.8vw; /* distance from left */
  width: 4.5vw; /* image width */
  height: auto; /* image height */
  mix-blend-mode: multiply;
}

.skills-section h5 {
  position: absolute;
  font-size: 1.5vh;
  left: 50%;
  transform: translateX(-50%);
  top: -2vh;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  top: .1vh; 
  color: #ffffff;
}
/**Skills Overview*/

/********************* PORTFOLIO *********************/

@media only screen and (min-width: 769px) and (min-height: 600px) {
  .skills-section-container {
    position: relative;
    top: 74%; /* Move down 50% from the top */
    transform: translateY(-50%); /* Adjust the position to center vertically */
    margin-left: 21%;
    padding: 2rem;
    max-width: 38%;
    font-size: 1vw;
    color: #ffffff;
  }
  /* Remove margin-top from media queries */
  @media (max-width: 768px) {
    .skills-section-container {
      margin-left: 5%;
    }
    .skills-section {
      padding: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .skills-section-container {
      margin-left: 2%;
    }
  }
  .skills-section ul li {
    margin-bottom: 0.4rem; 
  }

  .skills-section strong {
    font-weight: 450;
  }

  .folder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100vh;
    left: 106vw;
    transform: translate(-50vw, -50vh);
  }

  .folder-label {
    position: relative;
    top: -8.5vw;
    left: 2vw;
    font-size: .8vw;
    font-weight: 400;
  }
 
}

/* PHOTO FOLDER SECTION*/


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vmin;
  padding: 1vmin;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1vh rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  max-height: 80vh; /* Adjusted height */
  max-width: 80vw; /* Adjusted width */
  border-radius: 10px; /* Optional: rounded corners */
}

.folder-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder-item img {
  width: 10vmin;
  height: 10vmin;
  object-fit: contain;
  cursor: pointer;
  mix-blend-mode: multiply;
  transition: transform 0.3s ease-in-out;
}

.folder-item img:hover {
  transform: scale(1.3);
}

.folder-item figcaption {
  font-size: 2vmin;
  color: #000;
  margin-top: 0.1rem;
   margin-top: -0.5vmin; /* Adjust this value as needed */
}

/* Scrollbar styles */
.grid-container::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: #949797;
  border-radius: 1rem;
}

.grid-container::-webkit-scrollbar-thumb:hover {
  background-color: #7b7f80;
}

.grid-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}


 

 